<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
	RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www.phongtamhoanggia.vn [NC]
RewriteRule ^(.*)$ http://phongtamhoanggia.vn/$1 [L,R=301]
</IfModule>